.Header {
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 1400px;
    margin-left: auto!important;
    margin-right: auto!important;
    height: 66px;
    min-width: auto;
    position: relative;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, .7);
    border-radius: 3px;
}